# Φάκελοι με δεδομένα και αποτελέσματα
data/
outputs/
recordings/

# Το περιβάλλον της Python (ΠΟΛΥ ΣΗΜΑΝΤΙΚΟ)
myenv/

# Αρχεία εικόνων
*.jpg
*.jpeg
*.png
*.npy
*.csv

# Προσωρινά αρχεία Python
__pycache__/
*.pyc
.tmp.driveupload/110726
